* {
    box-sizing: border-box;
}

.grid-container {
    border: solid red 1px;
    width: 360px;
    height: 360px;
    display: grid;
    grid-template: repeat(16, 1fr)/ repeat(16, 1fr);
    margin: 0;
    padding: 0;

}

.square {
    margin: 0;
    padding: 0;
}

.color {
    background-color: blue;
}