* {
    box-sizing: border-box;
}

.grid-container {
    border: solid red 1px;
    width: 360px;
    height: 360px;
    display: grid;
    margin: 0;
    padding: 0;

}

.square {
    border: 0.5px solid black;
    margin: 0;
    padding: 0;
}

.color {
    background-color: blue;
}